---
layout: ""
page_title: "Provider: Cloud Posse AWS Utils"
description: |-
  The AWS utils provider contains data sources to perform tasks that are difficult to perform in the official AWS 
  Terraform provider.
---

# Cloud Posse AWS Utils Provider

The AWS utils provider contains resources and data sources to perform tasks that are difficult to perform in the 
official AWS Terraform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}